<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs', {title : 'About' }) %>
        <div class="container">
            <pre wrap="soft">
        I have seen myself spending a lot of time in past learning about design and web programming. Now, I'm interested to work in an impactful project like  smallcase. It brings me joy to see such an intuitive interface for investing. I see a great potential in it, so willing to be part of the development team.
    </pre>
        </div>
        <%- include('../partials/tail.ejs') %>